body {
  background-color: rgb(255, 148, 148);
}

.title {
  margin: auto;
  width: 50%;
 
}
.App {
  display: flex;
  justify-content: center;
  align-items: center;
}

.calc-wrapper {
  background-color: white;
  width: 400px;
  border-radius: 16px;
}

.row {
  display: flex;
}
